{% extends 'templates/adm/layout.twig' %}
{% block title %}{{ parent() }} - {% if formMethod == 'POST' %}Adicionar{% else %}Editar{% endif %} subtipo de veículo{% endblock %}
{% block stylesheets %}
  {{ parent() }}

  {{ css('form.min.css') }}
  {{ css('loading.min.css') }}
{% endblock stylesheets %}
{% block content %}
  {% if formMethod == 'POST' %}
    {% set URL = 'ADM\\Parameterization\\Vehicles\\Subtypes\\Add' %}
  {% else %}
    {% set URL = 'ADM\\Parameterization\\Vehicles\\Subtypes\\Edit' %}
  {% endif %}
  {% set previous = 'ADM\\Parameterization\\Vehicles\\Subtypes' %}
  {% if authorization.getAuthorizationFor(URL, formMethod) %}
    {% set editMode = true %}
    {% set readonly = '' %}
  {% else %}
    {% set editMode = false %}
    {% set readonly = ' readonly' %}
  {% endif %}
  <div class="ui main basic segment">
    <!-- Início cabeçalho módulo -->
    <h2 class="ui blue header">
      <table cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td class="mobile hidden">
              {{ icon('adm/vehiclesubtypes.svg', 'Subtipo de veículo') }}
            </td>
            <td>
              <div class="content">
              {% if editMode %}
                {% if formMethod == 'POST' %}Adicionar{% else %}Editar{% endif %} subtipo de veículo
                <div class="sub header">
                  Permite {% if formMethod == 'POST' %}adicionar um novo {% else %}modificar as informações cadastrais de um {% endif %}
                  subtipo de veículo.
                </div>
              {% else %}
                Visualizar subtipo de veículo
                <div class="sub header">
                  Permite visualizar as informações cadastrais de um
                  subtipo de veículo.
                </div>
              {% endif %}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </h2>
    <!-- Fim cabeçalho módulo -->
    
    <!-- Início conteúdo do módulo -->
    <div class="ui vertical module segment">
      <!-- Início formulário -->
      <div class="loading hidden">Processando...&#8230;</div>
      <form class="ui form" method="POST" autocomplete="off"
            onsubmit="loading();"
            action="{{ path_for(URL, { 'vehicleSubtypeID': getValue('vehiclesubtypeid') }) }}">
        <div class="fields">
          <div class="six wide field{{ cssError('vehicletypeid') }}">
            <label>Tipo de veículo</label>
            {% if editMode %}
            <div class="ui search selection dropdown">
              <input name="vehicletypeid" type="hidden"
                     value="{{ getValue('vehicletypeid') }}">
              <i class="dropdown icon"></i>
              <div class="default text">Informe o tipo de veículo...</div>
              <div class="menu">
              {% set vehicleTypeID = getValue('vehicletypeid') %}
              {% for vehicleType in vehicleTypes %}
                <div class="item" {% if vehicleType.id == vehicleTypeID %}selected{% endif %}
                     data-value="{{ vehicleType.id }}"
                     data-text="{{ vehicleType.name }}">
                  {{ vehicleType.name }}
                </div>
              {% endfor %}
              </div>
            </div>
            {% else %}
            <div class="field static">
              <span class="darking">{{ getValue('vehicletypename') }}&nbsp;</span>
            </div>
            {% endif %}
            {% if hasError('vehicletypeid') %}
            <small class="helper">{{ getError('vehicletypeid') }}</small>
            {% endif %}
          </div>
          <div class="ten wide field{{ cssError('name') }}">
            <label>Subtipo de veículo</label>
            <div class="ui input{{ readonly }}">
              <input name="name" type="text" maxlength="30"
                     placeholder="Informe o nome do subtipo de veículo..."
                     {{ readonly }}
                     value="{{ getValue('name') }}">
            </div>
            {% if hasError('name') %}
            <small class="helper">{{ getError('name') }}</small>
            {% endif %}
          </div>
        </div>
        
        <div class="fields">
          <div class="sixteen wide field buttons">
            {% if editMode %}
            <button type="button" class="ui youtube right labeled icon button"
                    onclick="location.href='{{ path_for(previous) }}';">
              <i class="remove icon"></i> Cancelar
            </button>
            <button type="submit" class="ui submit primary right labeled icon button">
              <i class="checkmark icon"></i> {% if formMethod == 'POST' %}Adicionar{% else %}Modificar{% endif %}
            </button>
            {% else %}
            <button type="button" class="ui blue labeled icon button"
                    onclick="location.href='{{ path_for(previous) }}';">
              <i class="chevron left icon"></i> Retornar
            </button>
            {% endif %}
          </div>
        </div>

        {{ csrf() }}
        
        <input type="hidden" name="_method" value="{{ formMethod }}">
        {% if formMethod == 'PUT' %}
        <input type="hidden" name="vehiclesubtypeid" value="{{ getValue('vehiclesubtypeid') }}">
        {% endif %}
      </form>
      <!-- Fim formulário -->
    </div>
    <!-- Fim conteúdo do módulo -->
  </div>
{% endblock %}
{% block scripts %}
  {{ parent() }}
  
  {% apply minify %}
  <script>
    $(document).ready(function()
    {
      // -------------------------------[ Componentes do formulário ]---
      $('.form .ui.dropdown')
        .dropdown()
      ;
      // Coloca o foco no primeiro campo
      $("input[name='vehicletypeid']")
        .closest('div')
        .find('input.search')
        .focus()
      ;
    });

    var loading = function() {
      $(document.body)
        .css({
          'cursor' : 'wait'
        })
      ;
      $(".loading")
        .removeClass("hidden")
      ;
    };
  </script>
  {% endapply %}
{% endblock scripts %}
