{% extends 'templates/erp/layout.twig' %}
{% block title %}{{ parent() }} - {% if formMethod == 'POST' %}Adicionar{% else %}Editar{% endif %} marca de veículo{% endblock %}
{% block stylesheets %}
  {{ parent() }}

  {{ css('form.min.css') }}
{% endblock stylesheets %}
{% block content %}
  {% if formMethod == 'POST' %}
    {% set URL = 'ERP\\Parameterization\\Vehicles\\Brands\\Add' %}
  {% else %}
    {% set URL = 'ERP\\Parameterization\\Vehicles\\Brands\\Edit' %}
  {% endif %}
  {% set previous = 'ERP\\Parameterization\\Vehicles\\Brands' %}
  {% if authorization.getAuthorizationFor(URL, formMethod) %}
    {% set editMode = true %}
    {% set readonly = '' %}
  {% else %}
    {% set editMode = false %}
    {% set readonly = ' readonly' %}
  {% endif %}
  <div class="ui main basic segment">
    <!-- Início cabeçalho módulo -->
    <h2 class="ui blue header">
      <table cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td class="mobile hidden">
              {{ icon('erp/vehiclebrands.svg', 'Marca de veículo') }}
            </td>
            <td>
              <div class="content">
              {% if authorization.getAuthorizationFor(URL, formMethod) %}
                {% if formMethod == 'POST' %}Adicionar{% else %}Editar{% endif %} marca de veículo
                <div class="sub header">
                  Permite {% if formMethod == 'POST' %}adicionar uma nova {% else %}modificar as informações cadastrais de uma {% endif %}
                  marca de veículo.
                </div>
              {% else %}
                Visualizar marca de veículo
                <div class="sub header">
                  Permite visualizar as informações cadastrais de uma marca de veículo.
                </div>
              {% endif %}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </h2>
    <!-- Fim cabeçalho módulo -->
    
    <!-- Início conteúdo do módulo -->
    <div class="ui vertical module segment">
      <!-- Início formulário -->
      <form class="ui form" method="POST" autocomplete="off"
            action="{{ path_for(URL, {'vehicleBrandID': getValue('vehiclebrandid') }) }}">
        <div class="fields">
          <div class="ten wide field{{ cssError('name') }}">
            <label>Marca de veículo</label>
            <div class="ui input{{ readonly }}">
              <input name="name" type="text" maxlength="30"
                     placeholder="Informe o nome da marca de veículo..."
                     {{ readonly }}
                     value="{{ getValue('name') }}">
            </div>
            {% if hasError('name') %}
            <small class="helper">{{ getError('name') }}</small>
            {% endif %}
          </div>
          <div class="six wide field{{ cssError('fipename') }}">
            <label>Nome no sistema Fipe</label>
            <div class="ui input{{ readonly }}">
              <input name="fipename" type="text" maxlength="30"
                     placeholder="Informe o nome no sistema FIPE..."
                     {{ readonly }}
                     value="{{ getValue('fipename') }}">
            </div>
            {% if hasError('fipename') %}
            <small class="helper">{{ getError('fipename') }}</small>
            {% endif %}
          </div>
        </div>
        
        <div class="sixteen wide grouped fields">
          <label>Quais os tipos de veículos fabricados por esta marca?</label>
          {% set selectedVehicleTypes = getValue('vehicletypes') %}
          {% for vehicleType in vehicleTypes %}
          <div class="field{{ cssError('vehicletypes') }}">
            <div class="ui checkbox{{ readonly }}">
              <input class="hidden" type="checkbox"
                     {{ readonly }}
                     name="vehicletypes[]" tabindex="0"
                     value="{{ vehicleType.id }}"
                     {% if vehicleType.id in selectedVehicleTypes %}checked{% endif %}>
              <label>{{ vehicleType.name }}</label>
            </div>
          </div>
          {% endfor %}
          {% if hasError('vehicletypes') %}
          <small class="helper">{{ getError('vehicletypes') }}</small>
          {% endif %}
        </div>
        
        <div class="fields">
          <div class="sixteen wide field buttons">
            {% if editMode %}
            <button type="button" class="ui youtube right labeled icon button"
                    onclick="location.href='{{ path_for(previous) }}';">
              <i class="remove icon"></i> Cancelar
            </button>
            <button type="submit" class="ui submit primary right labeled icon button">
              <i class="checkmark icon"></i> {% if formMethod == 'POST' %}Adicionar{% else %}Modificar{% endif %}
            </button>
            {% else %}
            <button type="button" class="ui blue labeled icon button"
                    onclick="location.href='{{ path_for(previous) }}';">
              <i class="chevron left icon"></i> Retornar
            </button>
            {% endif %}
          </div>
        </div>

        {{ csrf() }}
        
        <input type="hidden" name="_method" value="{{ formMethod }}">
        {% if formMethod == 'PUT' %}
        <input type="hidden" name="vehiclebrandid" value="{{ getValue('vehiclebrandid') }}">
        {% endif %}
      </form>
      <!-- Fim formulário -->
    </div>
    <!-- Fim conteúdo do módulo -->
  </div>
{% endblock %}
{% block scripts %}
  {{ parent() }}
  
  {% apply minify %}
  <script>
    $(document).ready(function()
    {
      // -------------------------------[ Componentes do formulário ]---
      $('.ui.checkbox')
        .checkbox()
      ;
      
      // Coloca o foco no primeiro campo
      $("input[name='name']")
        .focus()
      ;
    });
  </script>
  {% endapply %}
{% endblock scripts %}
