{# Layout para o site principal #}
{% extends 'templates/base.twig' %}
{% block schema %}WebSite{% endblock schema %}
{% block meta %}
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#163454">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#163454">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#163454">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#163454">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
{% endblock meta %}
{% block title %}
  Grupo M&amp;M
  {{ parent() }}
{% endblock title %}
{% block head %}
  <meta name="description" content="WebSite institucional do Grupo M&amp;M" />
  <meta name="keywords" content="WebSite">
  <meta name="author" content="Grupo M&amp;M">
  <meta itemprop="name" content="Grupo M&amp;M">
  <meta itemprop="description" content="WebSite institucional do Grupo M&amp;M">
  <meta itemprop="author" content="Grupo M&amp;M">
  <meta itemprop="author" content="Emerson Cavalcanti">
{% endblock head %}
{% block stylesheets %}
  {{ parent() }}

  {{ css('libs/semantic-ui/semantic.min.css') }}

  {{ css('clearfix.min.css') }}
  {{ css('footer.min.css') }}
  {{ css('responsive.min.css') }}
  {{ css('site.min.css') }}
{% endblock stylesheets %}
{% block body %}
  {% block header %}
    <!-- Início do cabeçalho -->
    <div id="contextWrap">
      {% include 'templates/site/partials/header.twig' %}
    </div>
    <!-- Fím do cabeçalho -->
  {% endblock %}
  
  <!-- Start site content !-->
  {% block content %}
  {% endblock %}
  <!-- End site content !-->
  
  <!-- Start of footer -->
  {% include 'templates/site/partials/footer.twig' %}
  <!-- End of footer -->

  <!-- Início diálogos modais -->
  {% block dialogs %}
  {% endblock dialogs %}
  <!-- Fim diálogos modais -->

  <!-- Início aviso da LGPD -->
  {% include 'templates/site/partials/lgpd.twig' %}
  <!-- Fim aviso da LGPD -->
</div>
{% endblock body %}
{% block scripts %}
  {{ parent() }}

  {{ js('cookies.min.js') }}
  {{ js('site.min.js') }}
{% endblock scripts %}