{% extends 'templates/erp/layout_clean.twig' %}
{% block title %}{{ parent() }} - Redefinição de senha{% endblock %}
{% block stylesheets %}
  {{ parent() }}

  {{ css('form.min.css') }}
  {{ css('login.min.css') }}
{% endblock stylesheets %}
{% block content %}
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <form class="ui large form error" action="{{ path_for('ERP\\Forgot', { 'UUID': uuid }) }}" method="POST">
        <div class="ui basic segment">
          <img class="ui centered normal image"
               src="/erp/resources/logo/inverted/{{ uuid }}"
               alt="Logomarca da empresa">
          <div class="ui clearing divider"></div>

          <h2 class="ui header">
            <div class="content">
              Redefinição de senha
              <div class="sub header">
                Digite o seu usuário, de forma que possamos localizar
                suas credenciais e enviar ao seu e-mail as instruções
                para redefinição de sua senha
              </div>
            </div>
          </h2>
          <div class="field{{ cssError('auth') }}">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" maxlength="25"
                     placeholder="Nome de acesso">
            </div>
          </div>

          {{ csrf() }}
          
          <table width="100%" cellspacing="0">
            <tbody>
              <tr>
                <td>
                  <input type="submit"
                         class="ui fluid large blue button"
                         style="margin-left: 0;"
                         value="Solicitar">
                </td>
                <td width="55px" style="text-align: right;">
                  <button type="button" class="ui large green icon button"
                          style="margin-right: 0;"
                          data-tooltip="Retorna à página de autenticação"
                          data-position="top left"
                          onclick="location.href='{{ path_for('ERP\\Login', { 'UUID': uuid }) }}';">
                    <i class="lock icon"></i>
                  </button>
                </td>
                <td width="55px" style="text-align: right;">
                  <button type="button" class="ui large orange icon button"
                          style="margin-right: 0;"
                          data-tooltip="Retorna à página inicial do site"
                          data-position="top left"
                          onclick="location.href='{{ path_for('Home') }}';">
                    <i class="home icon"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        {% if hasErrors() %}
        <div class="ui error message">
          {% for error in getErrors('auth') %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ parent() }}
  
  {% apply minify %}
  <script>
    $(document).ready(function()
    {
      // Coloca o foco no primeiro campo
      $("input[name='username']")
        .focus()
      ;
    });
  </script>
  {% endapply %}
{% endblock scripts %}
