{% extends 'templates/stc/layout.twig' %}
{% block title %}{{ parent() }} - Mudar senha{% endblock %}
{% block stylesheets %}
  {{ parent() }}

  {{ css('form.min.css') }}
  {{ css('libs/jquery/plugins/observe.input/observe.input.min.css') }}
{% endblock stylesheets %}
{% block content %}
  {% set URL = 'STC\\Password' %}
  {% set previous = 'STC\\Home' %}
  <div class="ui main basic segment">
    <!-- Início cabeçalho módulo -->
    <h2 class="ui blue header">
      <table cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td class="mobile hidden">
              {{ icon('stc/password.svg', 'Alterar senha do usuário') }}
            </td>
            <td>
              <div class="content">
                Alterar senha
                <div class="sub header">
                  Permite modificar a senha de acesso da minha conta,
                  garantindo segurança contra o acesso por terceiros
                  ao sistema.
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </h2>
    <!-- Fim cabeçalho módulo -->
    
    <!-- Início conteúdo do módulo -->
    <div class="ui vertical module segment">
      <div class="ui centered grid">
        <!-- Início coluna 1 -->
        <div class="sixteen wide tablet eight wide computer column">
          <!-- Início formulário -->
          <form class="ui form" method="POST" autocomplete="off"
                action="{{ path_for(URL) }}">
            <div class="fields">
              <div class="eight wide field">
                <label>Nome</label>
                <div class="field static">
                  <span class="darking">
                    {{ authorization.user.name }}
                  </span>
                </div>
              </div>
              <div class="eight wide field">
                <label>Nome de acesso</label>
                <div class="field static">
                  <span class="lighting">
                    {{ authorization.user.username }}
                  </span>
                </div>
              </div>
            </div>
          
            <div class="fields">
              <div class="sixteen wide field{{ cssError('oldpassword') }}">
                <label>Senha atual</label>
                <input name="oldpassword" type="password" maxlength="25"
                       placeholder="Informe sua senha atual..."
                       value="{{ getValue('oldpassword') }}">
                {% if hasError('oldpassword') %}
                <small class="helper">{{ getError('oldpassword') }}</small>
                {% endif %}
              </div>
            </div>

            <div class="fields">
              <div class="sixteen wide field{{ cssError('newpassword') }}">
                <label>Nova senha</label>
                <input name="newpassword" type="password" maxlength="25"
                       placeholder="Informe sua nova senha..."
                       value="{{ getValue('newpassword') }}">
                {% if hasError('newpassword') %}
                <small class="helper">{{ getError('newpassword') }}</small>
                {% endif %}
              </div>
            </div>

            <div class="fields">
              <div class="sixteen wide field{{ cssError('chkpassword') }}">
                <label>Confirme a nova senha</label>
                <input name="chkpassword" type="password" maxlength="25"
                       placeholder="Confirme sua nova senha..."
                       value="{{ getValue('chkpassword') }}">
                {% if hasError('chkpassword') %}
                <small class="helper">{{ getError('chkpassword') }}</small>
                {% endif %}
              </div>
            </div>
          
            <div class="fields">
              <div class="sixteen wide field buttons">
                <button type="button" class="ui youtube right labeled icon button"
                        onclick="location.href='{{ path_for(previous) }}';">
                  <i class="remove icon"></i> Cancelar
                </button>
                <button type="submit" class="ui submit primary right labeled icon button">
                  <i class="checkmark icon"></i> Modificar
                </button>
              </div>
            </div>
          
            {{ csrf() }}
            
            <input type="hidden" name="_method" value="{{ formMethod }}">
            <input type="hidden" name="userid" value="{{ getValue('userid') }}">
          </form>
          <!-- Fim formulário -->
        </div>
        <!-- Fim coluna 1 -->

        <!-- Início coluna 2 -->
        <div class="sixteen wide tablet eight wide computer column">
          <div id="errorMessage" class="ui error hidden message">
            <div class="header">A nova senha digitada possui os seguintes erros: </div>
            <ul class="list">
              <li>Você deve incluir tanto superior e inferior caso letras em sua senha</li>
              <li>Você precisa selecionar seu país de origem</li>
            </ul>
          </div>
          <!-- Início mensagem de erro -->
          <div class="ui message">
            <div class="header">
              Atenção
            </div>
            <p>
              Para considerar sua senha segura, ela deve conter caracteres
              maiúsculos e minúsculos, números e símbolos, e ter, no
              mínimo, 8 caracteres de comprimento. Os símbolos permitidos são:
              <table class="ui unstackable celled striped inverted grey table">
                <thead>
                  <tr class="center aligned">
                    <th colspan="8">Tabela de símbolos permitidos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="center aligned">
                    <td>&excl;</td>
                    <td>@</td>
                    <td>#</td>
                    <td>$</td>
                    <td>%</td>
                    <td>&amp;</td>
                    <td>?</td>
                    <td>*</td>
                  </tr>
                  <tr class="center aligned">
                    <td>(</td>
                    <td>)</td>
                    <td>[</td>
                    <td>]</td>
                    <td>{</td>
                    <td>}</td>
                    <td>&lt;</td>
                    <td>&gt;</td>
                  </tr>
                  <tr class="center aligned">
                    <td>:</td>
                    <td>&mdash;</td>
                    <td>&ndash;</td>
                    <td>.</td>
                    <td>;</td>
                    <td>,</td>
                    <td>:</td>
                    <td>&frasl;</td>
                  </tr>
                </tbody>
              </table>
            </p>
          </div>
          <!-- Fim mensagem de erro -->
        </div>
        <!-- Fim coluna 2 -->
      </div>
    </div>
    <!-- Fim conteúdo do módulo -->
  </div>
{% endblock %}
{% block scripts %}
  {{ parent() }}

  {{ lib('jquery/plugins/password.strength.inspector/password.strength.inspector.min.js') }}
  {{ lib('jquery/plugins/observe.input/observe.input.min.js') }}
  
  {% apply minify %}
  <script>
    var
      strengthOptions = [
        'length',
        'alpha',
        'numeric',
        'special',
        'onlynumeric'
      ],
      strength = new PasswordStrengthInspector(25, strengthOptions)
    ;
    
    $(document).ready(function()
    {
      // -------------------------------[ Componentes do formulário ]---
      $("input[name=oldpassword]")
        .observeinput({
          enableToggleView: true,
          icon: {
            left: 'lock'
          }
        })
      ;
      $("input[name=newpassword]")
        .observeinput({
          enableToggleView: true,
          icon: {
            left: 'lock',
            right: 'none',
          },
          onComplete: function () {
            var
              password = $(this).val(),
              result   = strength.validate(password)
            ;
            
            if (result) {
              $("#errorMessage")
                .hide()
              ;
            } else {
              // Exibe os erros
              var
                errorList = $("#errorMessage").children("ul.list"),
                errors    = strength.getErrors()
              ;

              errorList
                .empty()
              ;
              $.each(errors, function(index, value) {
                errorList
                  .append('<li>'+value+'</li>')
                ;
              });
              $("#errorMessage")
                .show()
              ;
            }
            
            return result;
          },
        })
      ;

      $("input[name=chkpassword]")
        .observeinput({
          enableToggleView: true,
          icon: {
            left: 'lock',
            right: 'none'
          },
          onTyping: function () {
            var newpassword = $("input[name=newpassword]").val();
            return ($(this).val() === newpassword)?true:false;
          },
        })
      ;
      
      // Coloca o foco no primeiro campo
      $("input[name='oldpassword']")
        .focus()
      ;
    });
  </script>
  {% endapply %}
{% endblock scripts %}
