            <div class="ui compact grid phoning">
              <div class="sixteen wide mobile sixteen wide tablet eight wide computer six wide large screen column{{ cssError('subsidiaries[' ~ subsidiaryNumber ~ '][phones][' ~ phoneNumber ~ '][phonenumber]') }}">
                <div class="ui action input{{ readonly }}">
                  <input name="subsidiaries[{{ subsidiaryNumber }}][phones][{{ phoneNumber }}][phonenumber]"
                         type="text" {{ readonly }}
                         placeholder="(99) 99999-9999"
                         value="{{ phone.phonenumber }}">
                  <input name="subsidiaries[{{ subsidiaryNumber }}][phones][{{ phoneNumber }}][phoneid]"
                         type="hidden"
                         value="{{ phone.phoneid }}" />
                  {% if editMode %}
                  <select name="subsidiaries[{{ subsidiaryNumber }}][phones][{{ phoneNumber }}][phonetypeid]"
                          class="ui dropDownLabel medium selection dropdown">
                    {% for phoneType in phoneTypes %}
                      <option value="{{ phoneType.id }}"{% if phoneType.id == phone.phonetypeid %} selected{% endif %}>{{ phoneType.name }}</option>
                    {% endfor %}
                  </select>
                  <button class="ui mini youtube icon button"
                          data-tooltip="Remove este número de telefone"
                          data-position="top right" type="button"
                          phoneNumber="{{ phoneNumber }}"
                          {% if loop.first %}
                          disabled
                          {% endif %}
                          onclick="delPhone(this);">
                    <i class="minus icon"></i>
                  </button>
                  {% else %}
                    <div class="field right static">
                      <span class="darking">{{ phone.phonetypename }}</span>
                    </div>
                  {% endif %}
                </div>
                {% if hasError('subsidiaries[' ~ subsidiaryNumber ~ '][phones][' ~ phoneNumber ~ '][phonenumber]') %}
                <small class="helper">{{ getError('subsidiaries[' ~ subsidiaryNumber ~ '][phones][' ~ phoneNumber ~ '][phonenumber]') }}</small>
                {% endif %}
              </div>
            </div>