{% extends public ? "templates/stc/layout_clean.twig" : "templates/stc/layout.twig" %}
{% block title %}{{ parent() }} - Erro interno do aplicativo{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <style>
    .ui.header {
      color: DarkRed !important;
      text-shadow: 0 2px 2px rgba(0,0,0,.5);
    }
    .black {
      color: black;
      font-weight: 700;
    }
    .ui.image.face {
      width: 60%;
    }
    {% if public %}
    .ui.top.inverted.menu h3 {
      color: #0360ebff;
      font-size: 2rem;
      margin: 10px 10px;
    }
    {% endif %}
  </style>
{% endblock stylesheets %}
{% block content %}
  {% if public %}
    <div class="ui top inverted attached menu">
      <h3>
        <img src="/assets/icons/stc/erp.svg" alt="ERP" height="20" border="0"> TrackerERP
      </h3>
    </div>
  {% endif %}
    <main>
      <section class="description">
        <div class="ui internally celled grid">
          <div class="three wide column">
            <img class="ui centered image face"
                 src="/images/error/warning.png"
                 alt="Erro interno">
          </div>
          <div class="ten wide column">
            <h1 class="ui header">
              Ocorreu uma falha em nosso site.
            </h1>
            <h3 class="black">O que aconteceu?</h3>
            <h3>{{ message|raw }}</h3>
            <h3 class="black">E agora, o que devo fazer?</h3>
            <h3>Você pode retornar à <a onclick="goHome();">página inicial</a>.
              Caso deseje relatar o ocorrido, pode utilizar o nosso
              <a href="{{ path_for('ContactUs') }}">formulário de contato</a>
              disponível.</h3>
            <br>
            <button class="ui primary icon button" onclick="goHome();">
              <i class="home icon"></i> Ir para a página inicial
            </button>
          </div>
        </div>
      </section>
    </main>
{% endblock %}
{% block scripts %}
  {{ parent() }}

  {% apply minify %}
  <script>
    function goHome() {
      window.location.href="{{ homepage }}";
    }
  </script>
  {% endapply %}
{% endblock scripts %}
