{% extends 'templates/adm/layout.twig' %}
{% import "templates/adm/macros/blueTooltip.twig" as tooltip %}
{% block title %}{{ parent() }} - Gerenciamento de tipos de combustíveis{% endblock %}
{% block stylesheets %}
  {{ parent() }}

  {{ css('libs/datatables/dataTables.semanticui.min.css') }}
  {{ css('libs/datatables/plugins/select/select.semanticui.min.css') }}
  {{ css('searchbar.min.css') }}
  {{ css('dialog.min.css') }}
  <style>
    /* --------------------------------------------------------------
     * Personalizações na barra de pesquisas apenas para este módulo
     * -------------------------------------------------------------- */
    .ui.main.basic.segment .searchbar.fields .field.searchbox {
      flex-grow: 1;
      min-width: 409px;
    }
    @media only screen and (min-width: 768px) {
      .ui.main.basic.segment .flex {
        flex-grow: 0;
      }
    }
    @media only screen and (max-width: 767px) {
      .ui.main.basic.segment .searchbar.fields .field.searchbox {
        min-width: 100px;
        width: calc(100% - 98px);
      }
      .ui.main.basic.segment .searchbar.fields .field.searchbox input {
        max-width: calc(100% - 38px);
      }
    }
    
    #result_wrapper {
      width: 100%;
    }

    .blue {
      color: CornflowerBlue;
      font-style: italic;
    }
  </style>
{% endblock stylesheets %}
{% block content %}
  {% set add  = { 'URL': 'ADM\\Parameterization\\Vehicles\\Fuels\\Add', 'method': 'GET' } %}
  <div class="ui main basic segment">
    <!-- Início cabeçalho módulo -->
    <h2 class="ui blue header">
      <table cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td class="mobile hidden">
              {{ icon('adm/fueltypes.svg', 'Tipos de combustível') }}
            </td>
            <td>
              <div class="content">
                Gerenciamento de tipos de combustíveis
                <div class="sub header">
                  Permite gerenciar os tipos de combustíveis cadastrados
                  no sistema.
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </h2>
    <!-- Fim cabeçalho módulo -->
    
    <!-- Início barra de pesquisa -->
    <div class="ui vertical segment noborder">
      <div class="ui form">
        <div class="searchbar fields">
          <div class="flex">
            {% if authorization.getAuthorizationFor(add.URL, add.method) %}
            <div class="field button">
              <button class="ui primary icon button"
                      data-tooltip="Adiciona um tipo de combustível"
                      data-position="top left" type="button"
                      onclick="location.href='{{ path_for(add.URL) }}'">
                <i class="add icon"></i>
              </button>
            </div>
            {% endif %}
            <div class="field searchbox">
              <div class="ui action input">
                <input type="text" id="searchValue"
                       placeholder="Digite o nome do tipo de combustível que procura..."
                       value="{{ fueltype.name }}">
                <button class="ui primary icon button"
                        data-tooltip="Localiza um tipo de combustível"
                        data-position="top right"
                        type="button" onclick="searchLoad();">
                  <i class="search icon"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim barra de pesquisa -->

    <!-- Início Datatables -->
    <table id="result"
           class="ui unstackable compact selectable striped celled table nowrap"
           width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Sigla</th>
          <th>Tipo de combustível</th>
          <th {{ tooltip.add('left', 'Permite remover o tipo de combustível') }}><i class="remove darkred icon"></i></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <!-- Fim Datatables -->
  </div>
{% endblock %}
{% block dialogs %}
  {% include 'templates/adm/partials/dialogs/error.twig' %}
  {% include 'templates/adm/partials/dialogs/info.twig' %}
  {% include 'templates/adm/partials/dialogs/question.twig' %}
  {% include 'templates/adm/partials/dialogs/warning.twig' %}
    
  <!-- Start audio error -->
  <audio id="errorSound">
    <source src="/sounds/error.ogg" type="audio/ogg">
    <source src="/sounds/error.mp3" type="audio/mpeg">
    <source src="/sounds/error.wav" type="audio/wav">
  </audio>
  <!-- End audio error -->
{% endblock dialogs %}
{% block scripts %}
  {{ parent() }}

  {{ lib('semantic-ui/components/requisitions.min.js') }}
  {{ lib('datatables/jquery.dataTables.min.js') }}
  {{ lib('datatables/dataTables.semanticui.min.js') }}
  {{ lib('datatables/plugins/handleErrors/handleErrors.js') }}
  {{ lib('datatables/plugins/select/dataTables.select.min.js') }}
  {{ lib('datatables/plugins/select/select.semanticui.min.js') }}
  {{ lib('datatables/formatters/DeleteFormatter.min.js') }}
  
  {% set getData = { 'URL': 'ADM\\Parameterization\\Vehicles\\Fuels\\Get', 'method': 'PATCH' } %}
  {% set add     = { 'URL': 'ADM\\Parameterization\\Vehicles\\Fuels\\Add', 'method': 'GET' } %}
  {% set edit    = { 'URL': 'ADM\\Parameterization\\Vehicles\\Fuels\\Edit', 'method': 'GET' } %}
  {% set remove  = { 'URL': 'ADM\\Parameterization\\Vehicles\\Fuels\\Delete', 'method': 'DELETE' } %}
  
  {% apply minify %}
  <script>
    var
      table
    ;
    
    $(document).ready(function() {
      // --------------------------------[ Componentes da Searchbar ]---
      $('#searchValue').keypress(function(e) {
        if (e.which == 13) {
          searchLoad();
        }
      });

      // ----------------------------------------------[ Datatables ]---

      // Atualiza a tabela para reajustar as colunas em caso de
      // alternância da barra lateral
      $('#ResizeSidebarMenu').click(function() {
        setTimeout(function() {
          table
            .columns
            .adjust()
          ;
        }, 500);
      });

      // Atualiza a tabela para reajustar as colunas em caso de
      // redimensionamento da janela
      $(window).resize(function() {
        setTimeout(function() {
          table
            .columns
            .adjust()
          ;
        }, 500);
      });

      table = $('#result').DataTable({
        pagingType: "first_last_numbers",
        lengthChange: false,
        searching: false,
        scrollX: true,
        language: {
          url: "{{ i18n('datatables/plugins/i18n/Portuguese-Brasil.json') }}",
        },
        columnDefs: [
          { "targets": 0,
            "name": "id",
            "data": "id",
            "className": "dt-center",
            "visible": true,
            "orderable": false,
            "width": "20px" },
          { "targets": 1,
            "name": "name",
            "data": "name",
            "visible": true,
            "orderable": true },
          { "targets": 2,
            "name": "delete",
            "data": "id",
            "visible": true,
            "orderable": false,
            "width": "10px",
            "render": deleteFormatter("Remover este tipo de combustível") }
        ],
        order: [[ 1, 'asc' ]],
        select: {
          style: 'single',
          items: 'cell'
        },
        processing: true,
        serverSide: true,
        ajax: {
          url: "{{ path_for(getData.URL) }}",
          type: "{{ getData.method }}",
          data: function ( params ) {
            params.searchValue = $('#searchValue').val();
          },
          error: handleAjaxError
        },
        responsive: true,
        drawCallback: function( oSettings ) {
          // Unstack Pagination
          $('div.ui.pagination.menu')
            .removeClass('stackable')
            .addClass('unstackable')
          ;
        },
        initComplete: function(settings, json) {
          // Unstack Pagination
          $('div.ui.pagination.menu')
            .removeClass('stackable')
            .addClass('unstackable')
          ;
        }
      });

      // Manipula os eventos de click
      table
        .on('user-select', function (e, dt, type, cell, originalEvent) {
          if (type === 'cell') {
            var
              // Recupera os dados da célula selecionada
              index   = cell[0][0],

              // Recupera o tipo de combustível selecionado
              fuelType = dt.rows( index.row ).data().toArray()[0]
            ;

            // Em função da coluna onde ocorreu o clique, executa a ação
            // correspondente
            switch (index.column) {
              case 2:
                {% if authorization.getAuthorizationFor(remove.URL, remove.method) %}
                // Permite apagar o tipo de combustível selecionado
                questionDialog('Remover tipo de combustível', ''
                  + 'Você deseja realmente remover o tipo de '
                  + 'combustível <b>&ldquo;' + fuelType.name
                  + '&rdquo;</b>?<br>Esta ação não poderá ser desfeita.',
                  function() {
                    // Remove o tipo de combustível selecionado
                    var url  = "{{ buildURL(remove.URL, {'fuelType': 'fuelType.id'}) }}";
                    
                    deleteJSONData(url, [],
                    function (data, params, message) {
                      // Atualiza a tabela
                      searchLoad();
                    });
                  },
                  function() {
                    table
                      .rows()
                      .deselect()
                    ;
                    table
                      .draw('page')
                    ;
                  }
                );
                {% endif %}

                break;
              default:
                {% if authorization.getAuthorizationFor(edit.URL, edit.method) %}
                // Coloca o tipo de combustível em edição
                window.location.href = "{{ buildURL(edit.URL, {'fuelType': 'fuelType.id'}) }}";
                {% endif %}
            }

            e.preventDefault();
          }
        }
      );

      // Força a atualização da tabela para reajustar as colunas após
      // a carga
      setTimeout(function() {
        table
          .columns
          .adjust()
        ;
      }, 1500);
    });


    // ================================================[ Handlers ]=====

    // Executa a pesquisa
    function searchLoad() {
      table
        .ajax
        .reload()
      ;
      setTimeout(function() {
        table
          .columns
          .adjust()
        ;
      }, 500);
    }
  </script>
  {% endapply %}
{% endblock scripts %}
