{% extends 'templates/erp/layout.twig' %}
{% block title %}{{ parent() }} - {% if formMethod == 'POST' %}Adicionar{% else %}Editar{% endif %} fornecedor{% endblock %}
{% block stylesheets %}
  {{ parent() }}

  {{ css('libs/jquery/plugins/autocomplete/autocomplete.min.css') }}
  {{ css('form.min.css') }}
  {{ css('dialog.min.css') }}
  <style>
    .ui.vertical.segment.mini.form {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .ui.bottom.attached.vertical.segment {
      border: none;
      border-radius: 0;
      margin-bottom: 0;
    }
    .ui.grid.phoning .ui.selection.dropdown {
      min-width: 8em;
    }
    .ui.grid.phoning,
    .ui.grid.mailing:not(.address) {
      margin-top: 0;
    }
    .ui.input.readonly > textarea {
      background-color: GhostWhite;
      border: 1px solid rgba(34,36,38,0.15);
      color: DarkSlateGray;
    }
    label > i {
      color: #5C738B;
    }
    div.subsidiary.entry {
      display: inline-grid;
      border-top: 1px solid rgba(34,36,38,.15) !important;
    }
    div.subsidiary.entry .wide.column .header {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
    .italic {
      font-style: italic;
    }
    .ui.list .list > .item .description,
    .ui.list > .item .description {
      margin-top: .2em;
      line-height: 1.5em !important;
    }
    .bold {
      font-weight: bold;
    }
  </style>
{% endblock stylesheets %}
{% block content %}
  {% if formMethod == 'POST' %}
    {% set URL = 'ERP\\Cadastre\\Suppliers\\Add' %}
  {% else %}
    {% set URL = 'ERP\\Cadastre\\Suppliers\\Edit' %}
  {% endif %}
  {% set toggleBlocked = { 'URL': 'ERP\\Cadastre\\Suppliers\\ToggleBlocked', 'method': 'PUT' } %}
  {% set previous = 'ERP\\Cadastre\\Suppliers' %}
  {% if authorization.getAuthorizationFor(URL, formMethod) %}
    {% set editMode = true %}
    {% set readonly = '' %}
  {% else %}
    {% set editMode = false %}
    {% set readonly = ' readonly' %}
  {% endif %}
  {% set enableToggleBlocked = authorization.getAuthorizationFor(toggleBlocked.URL, toggleBlocked.method) %}
  {% set juridicalperson = getValue('juridicalperson')|toBoolean %}
  <div class="ui main basic segment">
    <!-- Início cabeçalho módulo -->
    <h2 class="ui blue header">
      <table cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td class="mobile hidden">
              {{ icon('erp/suppliers.svg', 'Fornecedor') }}
            </td>
            <td>
              <div class="content">
              {% if authorization.getAuthorizationFor(URL, formMethod) %}
                {% if formMethod == 'POST' %}Adicionar{% else %}Editar{% endif %} fornecedor
                <div class="sub header">
                  Permite {% if formMethod == 'POST' %}adicionar um novo {% else %}modificar as informações cadastrais de um {% endif %}
                  fornecedor.
                </div>
              {% else %}
                Visualizar fornecedor
                <div class="sub header">
                  Permite visualizar as informações cadastrais de um fornecedor.
                </div>
              {% endif %}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </h2>
    <!-- Fim cabeçalho módulo -->
    
    <!-- Início conteúdo do módulo -->
    <div class="ui vertical module segment">
      <!-- Início formulário -->
      <form class="ui form" method="POST" autocomplete="off"
            action="{{ path_for(URL, {'supplierID': getValue('entityid') }) }}">
        <h3 class="ui header">Dados básicos do fornecedor</h3>
        <div class="fields">
          <div class="eight wide field{{ cssError('name') }}">
            <label>Fornecedor</label>
            <div class="ui input{{ readonly }}">
              <input name="name" type="text" maxlength="100"
                     placeholder="Informe o nome do fornecedor..."
                     {{ readonly }}
                     value="{{ getValue('name') }}">
            </div>
            {% if hasError('name') %}
            <small class="helper">{{ getError('name') }}</small>
            {% endif %}
          </div>
          <div class="eight wide field{{ cssError('tradingname') }}">
            <label>
              Nome fantasia <i>(opcional)</i>
              <span data-tooltip="Também chamado de nome comercial, nome de marca ou nome de fachada"
                    data-content="Top Left" data-position="top left"
                    data-inverted="">
                <i class="question circle olive outline icon"></i>
              </span>
            </label>
            <div class="ui input{{ readonly }}">
              <input name="tradingname" type="text" maxlength="100"
                     placeholder="Informe o nome fantasia..."
                     {{ readonly }}
                     value="{{ getValue('tradingname') }}">
            </div>
            {% if hasError('tradingname') %}
            <small class="helper">{{ getError('tradingname') }}</small>
            {% endif %}
          </div>
        </div>
        
        <div class="fields">
          <div class="eight wide field{{ cssError('entitytypeid') }}">
            <label>Tipo de fornecedor</label>
            {% if formMethod == 'POST' %}
            <div class="ui search selection dropdown">
              <input name="entitytypeid" type="hidden"
                     value="{{ getValue('entitytypeid') }}">
              <i class="dropdown icon"></i>
              <div class="default text"></div>
              <div class="menu">
                {% for entityType in entityTypes %}
                  {% if entityType.juridicalperson|toBoolean %}
                    {% set attribute='juridicalperson=true' %}
                  {% else %}
                    {% set attribute='juridicalperson=false' %}
                  {% endif %}
                  <div class="item"
                       {{ attribute }}
                       data-value="{{ entityType.id }}"
                       data-text="{{ entityType.name }}">
                    {{ entityType.name }}
                  </div>
                {% endfor %}
              </div>
            </div>
            {% else %}
            <div class="field static">
              <span class="darking">{{ getValue('entitytypename') }}</span>
              <input name="entitytypename" type="hidden"
                     value="{{ getValue('entitytypename') }}">
              <input name="entitytypeid" type="hidden"
                     value="{{ getValue('entitytypeid') }}">
            </div>
            {% endif %}
            <input name="juridicalperson" type="hidden"
                   value="{% if getValue('juridicalperson')|toBoolean %}true{% else %}false{% endif %}">
            {% set juridicalperson=getValue('juridicalperson')|toBoolean %}
            {% if hasError('entitytypeid') %}
            <small class="helper">{{ getError('entitytypeid') }}</small>
            {% endif %}
          </div>
        </div>

        {% if enableToggleBlocked %}
          {% if formMethod == 'PUT' %}
          <div class="fields">
            <div class="eight wide field">
              <div class="ui checkbox">
                <input type="hidden" name="blocked"
                       value="{% if getValue('blocked')|toBoolean %}true{% else %}false{% endif %}">
                <input class="hidden" type="checkbox"
                       name="_blocked"
                       {% if getValue('blocked')|toBoolean %}checked="checked"{% endif %}>
                <label>Bloquear este fornecedor e todas suas unidades/filiais</label>
              </div>
            </div>
          </div>
          {% endif %}
        {% else %}
          {% if getValue('blocked')|toBoolean %}
          <div class="fields">
            <div class="eight wide darkred field">
              <i class="lock icon"
                 style="font-size: 1.8em; line-height: 1em; vertical-align: middle;"></i>
              Este fornecedor está bloqueado e, por consequência, todas suas unidades/filiais.
            </div>
          </div>
          {% endif %}
        {% endif %}

        {% set subsidiaries = getValue('subsidiaries') %}
        {% for subsidiaryNumber, subsidiary in subsidiaries %}
          {% set subsidiaryIndicator = "%02d"|format(subsidiaryNumber) %}
          {% include 'erp/cadastre/suppliers/subsidiary.twig' with { documentTypes: documentTypes, mailingProfiles:mailingProfiles, phoneTypes: phoneTypes, subsidiaryIndicator: subsidiaryIndicator, subsidiaryNumber: subsidiaryNumber, subsidiary: subsidiary, editMode: editMode, enableToggleBlocked: enableToggleBlocked, juridicalperson: juridicalperson, formMethod: formMethod }  %}
          {% if loop.first %}
          <div id="subsidiaryList" class="form-list">
          {% endif %}
          {% if loop.last %}
          </div>
          {% endif %}
        {% endfor %}
        {% if editMode %}
        <div class="ui bottom attached vertical segment" style="border-top: 1px solid rgba(34,36,38,.15); border-left: none; border-right: none;">
          <button type="button" class="ui mini green right labeled icon button"
                  onclick="addSubsidiary();">
            <i class="plus icon"></i> Nova unidade/filial
          </button>
        </div>
        {% endif %}

        <div class="fields">
          <div class="sixteen wide field{{ cssError('note') }}">
            <label>Observação</label>
            <div class="ui input{{ readonly }}">
              <textarea name="note" rows="4" {{ readonly }}
                        placeholder="Faça um breve comentário...">{{ getValue('note') }}</textarea>
            </div>
            {% if hasError('note') %}
            <small class="helper">{{ getError('note') }}</small>
            {% endif %}
          </div>
        </div>

        <div class="fields">
          <div class="sixteen wide field buttons">
            {% if editMode %}
            <button type="button" class="ui youtube right labeled icon button"
                    onclick="location.href='{{ path_for(previous) }}';">
              <i class="remove icon"></i> Cancelar
            </button>
            <button type="submit" class="ui submit primary right labeled icon button">
              <i class="checkmark icon"></i> {% if formMethod == 'POST' %}Adicionar{% else %}Modificar{% endif %}
            </button>
            {% else %}
            <button type="button" class="ui blue labeled icon button"
                    onclick="location.href='{{ path_for(previous) }}';">
              <i class="chevron left icon"></i> Retornar
            </button>
            {% endif %}
          </div>
        </div>

        {{ csrf() }}

        <input type="hidden" name="_method" value="{{ formMethod }}">
        {% if formMethod == 'PUT' %}
        <input type="hidden" name="entityid" value="{{ getValue('entityid') }}">
        {% endif %}
      </form>
      <!-- Fim formulário -->

      {% if formMethod == 'PUT' %}
      <!-- Início painel informativo de modificações -->
      <div class="ui segments">
        <div class="ui grey inverted segment">
          <h5>
            Histórico de modificações:
          </h5>
          Cadastrado {{ getValue('createdat')|localizedDate('long') }} por {{ getValue('createdbyusername') }}
          <div class="ui divider"></div>
          Modificado {{ getValue('updatedat')|localizedDate('long') }} por {{ getValue('updatedbyusername') }}
        </div>
      </div>
      <!-- Fim painel informativo de modificações -->
      {% endif %}
    </div>
    <!-- Fim conteúdo do módulo -->
  </div>
{% endblock %}
{% block dialogs %}
  {% include 'templates/erp/partials/dialogs/error.twig' %}
  {% include 'templates/erp/partials/dialogs/info.twig' %}
  {% include 'templates/erp/partials/dialogs/question.twig' %}
  {% include 'templates/erp/partials/dialogs/warning.twig' %}
    
  <!-- Start audio error -->
  <audio id="errorSound">
    <source src="/sounds/error.ogg" type="audio/ogg">
    <source src="/sounds/error.mp3" type="audio/mpeg">
    <source src="/sounds/error.wav" type="audio/wav">
  </audio>
  <!-- End audio error -->
{% endblock dialogs %}
{% block scripts %}
  {{ parent() }}

  {{ lib('semantic-ui/components/requisitions.min.js') }}
  {{ lib('jquery/plugins/autocomplete/autocomplete.min.js') }}
  {{ lib('jquery/plugins/masked.input/masked.input.min.js') }}
  {{ lib('template-engine/template.engine.min.js') }}
  {{ lib('extension/extension.min.js') }}
  
  {% set getCityNameCompletion = { 'URL': 'ERP\\Parameterization\\Cities\\Autocompletion\\Get', 'method': 'PATCH' } %}
  {% set getPostalCodeData     = { 'URL': 'ERP\\Parameterization\\Cities\\PostalCode\\Get', 'method': 'PATCH' } %}
  {% set toggleBlocked         = { 'URL': 'ERP\\Cadastre\\Suppliers\\ToggleBlocked', 'method': 'PUT' } %}
  {% set enableToggleBlocked   = authorization.getAuthorizationFor(toggleBlocked.URL, toggleBlocked.method) %}
  {% set juridicalperson       = getValue('juridicalperson')|toBoolean %}
  
  {% apply minify %}
  <script>
    {% set subsidiaries = getValue('subsidiaries') %}
    var
      // O índice de contagem das unidades/filiais
      subsidiariesCount   = {{ subsidiaries|length }},

      // Os índices de contagem dos telefones e contatos adicionais de
      // cada unidade/filial
      subsidiariesDetails = [],

      // O tipo de entidade selecionada
      entityTypeID        = {{ getValue('entitytypeid') }}
    ;

    // Determina a quantidade de telefones, e-mails e contatos em cada
    // unidade/filial existente
    {% for subsidiaryNumber, subsidiary in subsidiaries %}
    subsidiariesDetails[{{ subsidiaryNumber }}] = {
      phonesCount: {{ subsidiary.phones|length }},
      emailsCount: {{ subsidiary.emails|length }},
      contactsCount: {{ subsidiary.contacts|length }}
    };
    {% endfor %}
    
    // Carrega o template de uma nova unidade/filial, definindo os
    // valores padrões
    {% if juridicalperson %}
      {% set defaultDocumentTypeID = 4 %}
    {% else %}
      {% set defaultDocumentTypeID = 1 %}
    {% endif %}
    {% set subsidiaryTemplate %}
      {% include 'erp/cadastre/suppliers/subsidiary.twig' with { documentTypes: documentTypes, mailingProfiles: mailingProfiles, phoneTypes: phoneTypes, subsidiaryIndicator: "<%=subsidiaryIndicator%>", subsidiaryNumber: "<%=subsidiaryNumber%>", subsidiary: { subsidiaryid: 0, headoffice: false, regionaldocumenttype: defaultDocumentTypeID, maritalstatusid: 1, genderid: 1, cityid: 0, phones: { 0: { phonetypeid: 1 } }, emails: { 0: { } }, contacts: { } }, editMode: true, enableToggleBlocked: enableToggleBlocked, juridicalperson: juridicalperson, formMethod: formMethod }  %}
    {% endset %}
    var subsidiaryTemplate = '{{ subsidiaryTemplate|escape('js') }}'.replace(/&lt;/g,'<').replace(/&gt;/g,'>');
    
    // Carrega o template de um novo telefone, definindo os valores
    // padrões
    {% set phoningTemplate %}
      {% include 'erp/cadastre/suppliers/phone.twig' with { phoneTypes: phoneTypes, subsidiaryNumber: "<%=subsidiaryNumber%>", phoneNumber: '<%=phoneNumber%>', phone: { phoneid: 0, phonetypeid: 1 }, editMode: true }  %}
    {% endset %}
    var phoningTemplate = '{{ phoningTemplate|escape('js') }}'.replace(/&lt;/g,'<').replace(/&gt;/g,'>');
    
    // Carrega o template de um novo e-mail, definindo os valores
    // padrões
    {% set emailTemplate %}
      {% include 'erp/cadastre/suppliers/mailing.twig' with { subsidiaryNumber: "<%=subsidiaryNumber%>", emailNumber: '<%=emailNumber%>', mailing: { mailingid: 0 }, editMode: true }  %}
    {% endset %}
    var emailTemplate = '{{ emailTemplate|escape('js') }}'.replace(/&lt;/g,'<').replace(/&gt;/g,'>');

    // Carrega o template de um novo contato adicional, definindo os
    // valores padrões
    {% set contactTemplate %}
      {% include 'erp/cadastre/suppliers/mailingaddress.twig' with { mailingProfiles: mailingProfiles, phoneTypes: phoneTypes, subsidiaryNumber: "<%=subsidiaryNumber%>", contactNumber: '<%=contactNumber%>', contact: { mailingaddressid: 0, mailingprofileid: defaultMailingProfileID, phonetypeid: 1 }, editMode: true }  %}
    {% endset %}
    var contactTemplate = '{{ contactTemplate|escape('js') }}'.replace(/&lt;/g,'<').replace(/&gt;/g,'>');

    $(document).ready(function() {
      // -------------------------------[ Componentes do formulário ]---
      $('.form .ui.dropdown')
        .dropdown()
      ;
      $('.ui.checkbox')
        .checkbox(checkboxOptions)
      ;

      // Realiza o tratamento de mascaramento dos campos e
      // autopreenchimento em função dos valores iniciais
      $("input[name='name']")
        .blur(nameHandler)
        .trigger("blur")
      ;

      {% if formMethod == 'POST' %}
      // Faz o tratamento da seleção do tipo de fornecedor
      $("input[name='entitytypeid']")
        .change(entityTypeHandler)
        .trigger("change")
      ;
      {% endif %}
      
      // Mascara os campos e habilita os eventos para tratamento da
      // atualização na tela de cada unidade/filial
      for (var subsidiaryNumber = 0; subsidiaryNumber < subsidiariesCount; subsidiaryNumber++) {
        // Realiza o tratamento de mascaramento dos campos e
        // autopreenchimento em função dos valores
        $("input[name='subsidiaries[" + subsidiaryNumber + "][regionaldocumentstate]']")
          .mask({
            type: 'state',
            validate: true
          })
        ;
        $("input[name='subsidiaries[" + subsidiaryNumber + "][nationalregister]']")
          .mask({
            type: 'cpforcnpj',
            validate: true
          })
        ;
        $("input[name='subsidiaries[" + subsidiaryNumber + "][birthday]']")
          .mask({
            type: 'date',
            validate: true
          })
          .blur(birthdayHandler)
          .trigger("blur")
        ;
        $("input[name='subsidiaries[" + subsidiaryNumber + "][cityname]']")
          .autocomplete(cityNameCompletionOptions)
        ;
        $("input[name='subsidiaries[" + subsidiaryNumber + "][postalcode]']")
          .mask({
            type: 'postalCode'
          })
          .blur(postalCodeHandler)
        ;
        
        // Define o CEP corrente para o tratamento correto do preenchimento
        // do formulário
        $("input[name='subsidiaries[" + subsidiaryNumber + "][postalcode]']")
          .prop('currentPostalCode', $("input[name='subsidiaries[" + subsidiaryNumber + "][postalcode]']").val())
        ;
        
        // Força o mascaramento dos campos de telefones
        for (var phoneNumber = 0; phoneNumber < subsidiariesDetails[ subsidiaryNumber ].phonesCount; phoneNumber++) {
          $("input[name='subsidiaries[" + subsidiaryNumber + "][phones][" + phoneNumber + "][phonenumber]']")
            .mask({
              type: 'phoneNumber'
            })
          ;
        }
        
        // Força o mascaramento dos campos de telefones nos contatos
        // adicionais
        for (var contactNumber = 0; contactNumber < subsidiariesDetails[ subsidiaryNumber ].contactsCount; contactNumber++) {
          $("input[name='subsidiaries[" + subsidiaryNumber + "][contacts][" + contactNumber + "][phonenumber]']")
            .mask({
              type: 'phoneNumber'
            })
          ;
        }

        var
          count = $(".contactList[subsidiary='" + subsidiaryNumber + "']")
            .children('.mailing.grid').length
        ;

        if (count > 0) {
          // Se temos um ou mais contatos adicionais, garantimos que a
          // respectiva informação de aviso de que não temos contatos
          // esteja oculta
          $(".contactList[subsidiary='" + subsidiaryNumber + "']")
            .children('.nocontent')
            .hide()
          ;
        }
      }

      // Coloca o foco no primeiro campo
      $("input[name='name']")
        .focus()
      ;
    });
    

    // =================================================[ Options ]=====

    // As opções para os checkbox
    var checkboxOptions = {
      // Dispara ao iniciar para definir o valor, se necessário
      onChange   : function() {
        var
          checkbox = $(this).prop('name'),
          // Invertemos o valor atual
          checked = !($(this).attr('checked') !== undefined && $(this).attr('checked')),
          boolValue = (checked
            ? 'true'
            : 'false'),
          toggleField = checkbox.replace('_','')
        ;

        // Invertemos o checkbox fake
        $(this)
          .attr('checked', checked)
        ;

        // Alteramos o valor do verdadeiro input
        $("input[name='" + toggleField + "']")
          .val(boolValue)
        ;
      }
    };

    // As opções para o componente de autocompletar o nome da cidade
    var cityNameCompletionOptions = {
      autoSelectFirst: true,
      searchOnFocus: false,
      ajax: {
        url: "{{ path_for(getCityNameCompletion.URL) }}",
        type: "{{ getCityNameCompletion.method }}",
        data: function(params, options) {
          params.state = '';
        }
      },
      onFormatResult: function(searchTerm, suggestion, index) {
        return ''
          + '<div class="content">'
          +   '<div class="title">' + suggestion.name + ' / '
          +     '<span style="color: CornflowerBlue; font-style: italic;">'
          +       suggestion.state
          +     '</span>'
          +   '</div>'
          + '</div>'
        ;
      },
      onSelect: function(element, suggestion) {
        // Recupera o ID da filial para a qual a cidade foi completada
        var subsidiaryNumber = $(this).attr("subsidiary");
        
        // Armazena o ID do item selecionado
        $("input[name='subsidiaries[" + subsidiaryNumber + "][cityid]']")
          .val(suggestion.id)
        ;
        $("input[name='subsidiaries[" + subsidiaryNumber + "][state]']")
          .val(suggestion.state)
        ;
      },
      onInvalidateSelection: function() {
        // Recupera o ID da filial para a qual a cidade foi completada
        var subsidiaryNumber = $(this).attr("subsidiary");
        
        // Limpa as informações de cidade selecionada
        $("input[name='subsidiaries[" + subsidiaryNumber + "][cityid]']")
          .val(0)
        ;
        $("input[name='subsidiaries[" + subsidiaryNumber + "][state]']")
          .val('')
        ;
      }
    };


    // ================================================[ Handlers ]=====
    
    {% if formMethod == 'POST' %}
    // Faz o tratamento da seleção do tipo de fornecedor
    function entityTypeHandler() {
      var
        supplierType = $(this).val(),
        $dropdown = $(this).closest('div.search.selection.dropdown'),
        juridicalperson =
          $dropdown
            .find('div.item[data-value=' + supplierType + ']')
            .attr('juridicalperson')
      ;

      // Modifica o campo indicativo de tipo de pessoa (física ou
      // jurídica)
      $("input[name='juridicalperson']").val(juridicalperson);

      // Faz o tratamento conforme o tipo de pessoa que estamos lidando
      if (juridicalperson === 'true') {
        // Pessoa jurídica
        
        // A primeira unidade/filial é a matriz
        $("input[name='subsidiaries[0][name]']")
          .val('Matriz')
        ;
        $("input[name='subsidiaries[0][name]']")
          .prev()
          .html('Matriz')
          .trigger("change")
        ;
        
        // Altera o rótulo do campo do nome titular para nome da
        // unidade/filial
        $("label[for*='subsidiarytitle']")
          .text("Nome da unidade/filial")
        ;
        
        // Altera o rótulo do campo CPF/CNPJ para CNPJ
        $("label[for*='nationalregister']")
          .text("CNPJ")
        ;

        // Altera o 'placeholder' do campo CPF/CNPJ
        $("input[name*='nationalregister']")
          .attr("placeholder", "Informe o CNPJ")
        ;

        // Esconde campos apenas de pessoa física e mostra os exclusivos
        // de pessoa jurídica
        $("div.physical.person")
          .hide()
        ;
        $("div.juridical.person")
          .show()
        ;

        for (var subsidiaryNumber = subsidiariesCount - 1; subsidiaryNumber >= 0; subsidiaryNumber--) {
          // Altera o 'placeholder' do campo CPF/CNPJ
          $("input[name='subsidiaries[" + subsidiaryNumber + "][nationalregister]']")
            .attr("placeholder", "Informe o CNPJ")
          ;

          // Modifica todos os campos seletores de tipos de documentos,
          // de forma a conter apenas os tipos válidos para uma pessoa
          // jurídica
          $("input[name='subsidiaries[" + subsidiaryNumber + "][regionaldocumenttype]']").each(function() {
            // Para cada dropdown, alterna os tipos de documentos conforme
            // o tipo de cliente selecionado
            var
              $dropdown = $(this).closest('div.ui.search.selection.dropdown')
            ;

            // Deixa apenas os tipos de documentos para pessoas
            // jurídicas habilitados
            $dropdown
              .find('[juridicalperson*=false]')
              .addClass('disabled')
            ;
            $dropdown
              .find('[juridicalperson*=true]')
              .removeClass('disabled')
            ;

            // Seleciona o primeiro item disponível
            var
              $first = $dropdown.find('[juridicalperson*=true]').first()
            ;
            $dropdown
              .dropdown('set selected', $first.data('value'))
            ;
          });
        }
      } else {
        // Pessoa física
        
        // A primeira unidade/filial é o titular
        var
          owner = $("input[name='name']").val()
        ;

        // Atribui o nome do cliente ao nome do primeiro titular
        $("input[name='subsidiaries[0][name]']")
          .val(owner)
        ;

        if (owner === "") {
          $("input[name='subsidiaries[0][name]']")
            .prev()
            .html("&nbsp;")
            .trigger("change")
          ;
        } else {
          $("input[name='subsidiaries[0][name]']")
            .prev()
            .html(owner)
            .trigger("change")
          ;
        }

        // Altera o rótulo do campo do nome da unidade/filial para titular
        $("label[for*='subsidiarytitle']")
          .text("Nome do títular")
        ;
        
        // Altera o rótulo do campo CPF/CNPJ para CPF
        $("label[for*='nationalregister']")
          .text("CPF")
        ;

        // Altera o 'placeholder' do campo CPF/CNPJ
        $("input[name*='nationalregister']")
          .attr("placeholder", "Informe o CPF")
        ;

        // Esconde campos apenas de pessoa jurídica e mostra os
        // exclusivos de pessoa física
        $("div.physical.person")
          .show()
        ;
        $("div.juridical.person")
          .hide()
        ;

        for (var subsidiaryNumber = subsidiariesCount - 1; subsidiaryNumber >= 0; subsidiaryNumber--) {
          // Altera o 'placeholder' do campo CPF/CNPJ
          $("input[name='subsidiaries[" + subsidiaryNumber + "][nationalregister]']")
            .attr("placeholder", "Informe o CPF")
          ;

          // Modifica todos os campos seletores de tipos de documentos,
          // de forma a conter apenas os tipos válidos para uma pessoa
          // física
          $("input[name='subsidiaries[" + subsidiaryNumber + "][regionaldocumenttype]']").each(function() {
            // Para cada dropdown, alterna os tipos de documentos conforme
            // o tipo de cliente selecionado
            var
              $dropdown = $(this).closest('div.ui.search.selection.dropdown')
            ;

            // Deixa apenas os tipos de documentos para pessoas físicas
            // habilitados
            $dropdown
              .find('[juridicalperson*=true]')
              .addClass('disabled')
            ;
            $dropdown
              .find('[juridicalperson*=false]')
              .removeClass('disabled')
            ;

            // Seleciona o primeiro item disponível
            var
              $first = $dropdown.find('[juridicalperson*=false]').first()
            ;
            $dropdown
              .dropdown('set selected', $first.data('value'))
            ;
          });
        }
      }
    }
    {% endif %}

    // Faz o tratamento do campo nome para permitir atualizar o nome do
    // primeiro fornecedor quando o mesmo for pessoa física
    function nameHandler()
    {
      var
        name            = $(this).val(),
        juridicalperson = $("input[name='juridicalperson']").val()==="true"
          ? true
          : false
      ;

      // Conforme o tipo de pessoa que estamos lidando, realiza o devido
      // tratamento
      if (juridicalperson) {
        // Pessoa jurídica, não faz nada
      } else {
        // Pessoa física
        
        // Atribui o nome do fornecedor ao nome do primeiro titular
        $("input[name='subsidiaries[0][name]']")
          .val(name)
        ;

        if (name === "") {
          $("input[name='subsidiaries[0][name]']")
            .prev()
            .html("&nbsp;")
            .trigger("change")
          ;
        } else {
          $("input[name='subsidiaries[0][name]']")
            .prev()
            .text(name)
            .trigger("change")
          ;
        }
      }
    }

    // O manipulador do campo de data de nascimento, em que atualiza a
    // idade
    function birthdayHandler() {
      var
        // Recupera o ID da filial para a qual a data de nascimento foi
        // preenchida
        subsidiaryNumber = $(this).attr("subsidiary"),
        birthdayDate     = $(this).val()
      ;

      // Ignora qualquer modificação se estivermos em um campo somente
      // leitura
      if ($(this).prop('readonly')) {
        return;
      }

      // Verifica se a idade é válida
      if (birthdayDate.length === 10) {
        var
          parts    = birthdayDate.split("/"),
          day      = parseInt(parts[0]),
          month    = parseInt(parts[1]),
          year     = parseInt(parts[2]),
          birthday = new Date(year, month-1, day),
          today    = new Date(),
          isLeap   = function (year) {
            return year % 4 == 0 && (year % 100 != 0 || year % 400 == 0);
          },
          // Calcula a quantidade de dias desde a data de nascimento
          days     = Math.floor((today.getTime() - birthday.getTime())/1000/60/60/24),
          age      = 0
        ;

        // Percorre os anos
        for (var y = birthday.getFullYear(); y <= today.getFullYear(); y++) {
          var
            daysInYear = isLeap(y)
              ? 366
              : 365
          ;

          if (days >= daysInYear) {
            // Incrementamos a idade somente se houver dias suficientes
            // para completar mais um ano
            days -= daysInYear;
            age++;
          }
        }

        // Coloca a data calculada no campo de idade
        $("input[name='subsidiaries[" + subsidiaryNumber + "][age]']")
          .val(age + ' anos')
          .trigger("change")
        ;
      } else {
        // Não foi fornecida uma data, então ignora
        $("input[name='subsidiaries[" + subsidiaryNumber + "][age]']")
          .val('')
          .trigger("change")
        ;
      }
    }
    
    // O manipulador do campo de autocompletar o CEP
    function postalCodeHandler() {
      var
        // Recupera o ID da filial para a qual o CEP foi completado
        subsidiaryNumber  = $(this).attr("subsidiary"),
        currentPostalCode = $(this).val()
      ;

      // Ignora qualquer modificação se estivermos em um campo somente
      // leitura
      if ($(this).prop('readonly')) {
        return;
      }

      // Verifica se o CEP é válido
      if (currentPostalCode.length > 0) {
        // Remove espaços
        currentPostalCode = currentPostalCode.replace(/^s+|s+$/g, '');

        // Verifica se o CEP está no formato válido
        var cepER = /^[0-9]{5}-[0-9]{3}$/;
        if (!cepER.test(currentPostalCode)) {
          // Não foi fornecido um CEP válido, então alerta o usuário
          warningDialog('Desculpe', 'O CEP informado é inválido.');

          return;
        }
      } else {
        // Não foi fornecido um CEP, então ignora
        return;
      }
      
      // Verifica se o valor foi alterado...
      if ($(this).prop('currentPostalCode') !== $(this).val()) {
        // Atualiza o valor armazenado
        $(this)
          .prop('currentPostalCode', $(this).val())
        ;
        
        // Recupera o CEP preenchido sem pontuação
        var
          postalCode = $(this).val().replace(/-/g, ''),
          textFields = [
            'address',
            'district',
            'cityname',
            'state'
          ]
        ;
        
        // Verifica se campo possui um CEP preenchido
        if (postalCode != "") {
          // Preenche os campos com "..." enquanto consulta o Web Service
          textFields.forEach(function(field) {
            $("input[name='subsidiaries[" + subsidiaryNumber + "][" + field + "]']")
              .val("...")
              .trigger("change")
            ;
          });
          $("input[name='subsidiaries[" + subsidiaryNumber + "][cityid]']")
            .val(0)
          ;
          
          // Consulta o Web Service para obter os dados pelo CEP
          var url = "{{ path_for(getPostalCodeData.URL) }}";
          requestJSONData(url, { postalCode: postalCode },
          function (addressData, params, message) {
            // Conseguiu localizar um endereço com base nos valores
            // informados, então atualiza o formulário
            textFields.forEach(function(field) {
              $("input[name='subsidiaries[" + subsidiaryNumber + "][" + field + "]']")
                .val(addressData[field])
              ;
            });
            $("input[name='subsidiaries[" + subsidiaryNumber + "][cityid]']")
              .val(addressData.cityid)
            ;
            
            // Coloca em foco o campo de número
            $("input[name='subsidiaries[" + subsidiaryNumber + "][streetnumber]']")
              .focus()
            ;
          },
          function (data, params, message) {
            // Não conseguiu localizar os dados do endereço com base
            // no CEP informado, então limpa os dados atuais
            textFields.forEach(function(field) {
              $("input[name='subsidiaries[" + subsidiaryNumber + "][" + field + "]']")
                .val('')
                .trigger("change")
              ;
            });
            $("input[name='subsidiaries[" + subsidiaryNumber + "][cityid]']")
              .val(0)
            ;
          });
        } else {
          // O CEP não foi fornecido
          textFields.forEach(function(field) {
            $("input[name='subsidiaries[" + subsidiaryNumber + "][" + field + "]']")
              .val('')
              .trigger("change")
            ;
          });
          $("input[name='subsidiaries[" + subsidiaryNumber + "][cityid]']")
            .val(0)
          ;
        }
      }
    }
    
    // Faz a adição de uma unidade/filial
    var addSubsidiary = function() {
      var
        subsidiaryNumber = subsidiariesCount,
        phoneNumber      = 1,
        emailNumber      = 1,
        contactNumber    = 0,
        juridicalperson  = $("input[name='juridicalperson']").val()==="true"
          ? true
          : false
      ;

      // Determina o número da unidade/filial
      subsidiariesCount++;

      // Inicializa os contadores de telefones, e-mails e contatos
      // adicionais nesta unidade/filial
      subsidiariesDetails[ subsidiaryNumber ] = {
        phonesCount: 1,
        emailsCount: 1,
        contactsCount: 0
      };

      // Adiciona um conjunto de campos para a nova unidade/filial
      $("#subsidiaryList")
        .append(TemplateEngine(subsidiaryTemplate, {
          subsidiaryIndicator: (subsidiaryNumber).toString().padLeftWithZeros(2),
          subsidiaryNumber: subsidiaryNumber,
          phoneNumber: phoneNumber,
          emailNumber: emailNumber,
          contactNumber: contactNumber
        }))
      ;
      
      $('.ui.selection.dropdown')
        .dropdown()
      ;
      $('.ui.menu .ui.dropdown')
        .dropdown({
          on: 'hover'
        })
      ;
      
      // Faz o tratamento conforme o tipo de pessoa que estamos lidando
      if (juridicalperson) {
        // Pessoa jurídica
        
        // Altera o rótulo do campo para nome da unidade/filial
        $("label[for*='subsidiarytitle']")
          .text("Nome da unidade/filial")
        ;

        // Altera o rótulo do campo CPF/CNPJ para CNPJ
        $("label[for='nationalregister']")
          .text("CNPJ")
        ;

        // Altera o 'placeholder' do campo CPF/CNPJ
        $("input[name='subsidiaries[" + subsidiaryNumber + "][nationalregister]']")
          .attr("placeholder", "Informe o CNPJ")
        ;

        // Modifica todos os campos seletores de tipos de documentos, de
        // forma a conter apenas os tipos válidos
        $("input[name='subsidiaries[" + subsidiaryNumber + "][regionaldocumenttype]']").each(function() {
          // Para cada dropdown, alterna os tipos de documentos conforme
          // o tipo de cliente selecionado
          var
            $dropdown = $(this).closest('div.ui.search.selection.dropdown')
          ;

          // Deixa apenas os tipos de documentos para pessoas jurídicas
          // habilitados
          $dropdown
            .find('[juridicalperson*=false]')
            .addClass('disabled')
          ;
          $dropdown
            .find('[juridicalperson*=true]')
            .removeClass('disabled')
          ;

          // Seleciona o primeiro item disponível
          var
            $first = $dropdown.find('[juridicalperson*=true]').first()
          ;
          $dropdown
            .dropdown('set selected', $first.data('value'))
          ;
        });

        // Esconde campos apenas de pessoa física
        $("div.physical.person")
          .hide()
        ;

        // Exibe os campos apenas de pessoa jurídica
        $("div.juridical.person")
          .show()
        ;
      } else {
        // Pessoa física

        // Altera o rótulo do campo para nome do titular
        $("label[for*='subsidiarytitle']")
          .text("Nome do títular")
        ;

        // Altera o rótulo do campo CPF/CNPJ para CPF
        $("label[for='nationalregister']")
          .text("CPF")
        ;

        // Altera o 'placeholder' do campo CPF/CNPJ
        $("input[name='subsidiaries[" + subsidiaryNumber + "][nationalregister]']")
          .attr("placeholder", "Informe o CPF")
        ;

        // Modifica todos os campos seletores de tipos de documentos, de
        // forma a conter apenas os tipos válidos
        $("input[name='subsidiaries[" + subsidiaryNumber + "][regionaldocumenttype]']").each(function() {
          // Para cada dropdown, alterna os tipos de documentos conforme
          // o tipo de cliente selecionado
          var
            $dropdown = $(this).closest('div.ui.search.selection.dropdown')
          ;
          
          // Deixa apenas os tipos de documentos para pessoas físicas
          // habilitados
          $dropdown
            .find('[juridicalperson*=true]')
            .addClass('disabled')
          ;
          $dropdown
            .find('[juridicalperson*=false]')
            .removeClass('disabled')
          ;

          // Seleciona o primeiro item disponível
          var
            $first = $dropdown.find('[juridicalperson*=false]').first()
          ;
          $dropdown
            .dropdown('set selected', $first.data('value'))
          ;
        });

        // Exibe os campos apenas de pessoa física
        $("div.physical.person")
          .show()
        ;

        // Esconde campos apenas de pessoa jurídica
        $("div.juridical.person")
          .hide()
        ;
      }

      // Realiza o tratamento de mascaramento dos campos e autopreenchimento
      // em função dos valores
      $("input[name='subsidiaries[" + subsidiaryNumber + "][regionaldocumentstate]']")
        .mask({
          type: 'state',
          validate: true
        })
      ;
      $("input[name='subsidiaries[" + subsidiaryNumber + "][nationalregister]']")
        .mask({
          type: 'cpforcnpj',
          validate: true
        })
      ;
      $("input[name='subsidiaries[" + subsidiaryNumber + "][birthday]']")
        .mask({
          type: 'date',
          validate: true
        })
        .blur(birthdayHandler)
      ;
      $("input[name='subsidiaries[" + subsidiaryNumber + "][cityname]']")
        .autocomplete(cityNameCompletionOptions)
      ;
      $("input[name='subsidiaries[" + subsidiaryNumber + "][postalcode]']")
        .mask({
          type: 'postalCode'
        })
        .blur(postalCodeHandler)
      ;
      
      // Define o CEP corrente para o tratamento correto do preenchimento
      // do formulário
      $("input[name='subsidiaries[" + subsidiaryNumber + "][postalcode]']")
        .prop('currentPostalCode', $("input[name='subsidiaries[" + subsidiaryNumber + "][postalcode]']").val())
      ;
        
      // Força o mascaramento dos campos de telefones
      for (var phoneNumber = 0; phoneNumber < subsidiariesDetails[ subsidiaryNumber ].phonesCount; phoneNumber++) {
        $("input[name='subsidiaries[" + subsidiaryNumber + "][phones][" + phoneNumber + "][phonenumber]']")
          .mask({
            type: 'phoneNumber'
          })
        ;
      }
      
      // Força o mascaramento dos campos de telefones nos contatos
      // adicionais
      for (var contactNumber = 0; contactNumber < subsidiariesDetails[ subsidiaryNumber ].contactsCount; contactNumber++) {
        $("input[name='subsidiaries[" + subsidiaryNumber + "][contacts][" + contactNumber + "][phonenumber]']")
          .mask({
            type: 'phoneNumber'
          })
        ;
      }
      
      // Trata o checkbox corretamente
      $('.ui.checkbox')
        .checkbox(checkboxOptions)
      ;
      
      // Coloca em foco o campo inicial da nova unidade/filial
      $("input[name='subsidiaries[" + subsidiaryNumber + "][name]']")
        .focus()
      ;
    };
    
    // Faz a remoção de uma unidade/filial
    var delSubsidiary = function(element) {
      $(element)
        .closest('.subsidiary.entry')
        .remove()
      ;
    };

    // Faz a adição de um telefone
    var addPhone = function(subsidiaryNumber) {
      var
        // Determina a quantidade de telefones nesta unidade/filial
        phoneNumber = subsidiariesDetails[ subsidiaryNumber ].phonesCount
      ;

      // Adiciona um conjunto de campos para o novo telefone
      subsidiariesDetails[ subsidiaryNumber ].phonesCount++;
      $(".phoneList[subsidiary='" + subsidiaryNumber + "']")
        .append(TemplateEngine(phoningTemplate, {
          subsidiaryNumber: subsidiaryNumber,
          phoneNumber: phoneNumber
        }))
      ;
      
      $('.ui.selection.dropdown')
        .dropdown()
      ;
      $('.ui.menu .ui.dropdown')
        .dropdown({
          on: 'hover'
        })
      ;
      
      // Mascara o campo de telefone
      $("input[name='subsidiaries[" + subsidiaryNumber + "][phones][" + phoneNumber + "][phonenumber]']")
        .mask({
          type: 'phoneNumber'
        })
      ;
      
      // Coloca em foco o campo inicial do novo telefone
      $("input[name='subsidiaries[" + subsidiaryNumber + "][phones][" + phoneNumber + "][phonenumber]']")
        .focus()
      ;
    };
    
    // Faz a remoção de um telefone
    var delPhone = function(element) {
      var
        // Recupera o ID do telefone
        phoneNumber = parseInt($(element).attr("phoneNumber"))
      ;

      if (phoneNumber > 0) {
        $(element)
          .closest('.phoning.grid')
          .remove()
        ;
      }
    };
    
    // Faz a adição de um e-mail
    var addEmail = function(subsidiaryNumber) {
      var
        // Determina a quantidade de e-mails nesta unidade/filial
        emailNumber = subsidiariesDetails[ subsidiaryNumber ].emailsCount
      ;

      // Adiciona um conjunto de campos para o novo e-mail
      subsidiariesDetails[ subsidiaryNumber ].emailsCount++;
      $(".emailList[subsidiary='" + subsidiaryNumber + "']")
        .append(TemplateEngine(emailTemplate, {
          subsidiaryNumber: subsidiaryNumber,
          emailNumber: emailNumber
        }))
      ;
      
      // Coloca em foco o campo inicial do novo e-mail
      $("input[name='subsidiaries[" + subsidiaryNumber + "][emails][" + emailNumber + "][email]']")
        .focus()
      ;
    };
    
    // Faz a remoção de um e-mail
    var delEmail = function(element) {
      var
        // Recupera o ID do e-mail
        emailNumber = parseInt($(element).attr("emailNumber"))
      ;

      if (emailNumber > 0) {
        $(element)
          .closest('.mailing.grid')
          .remove()
        ;
      }
    };
    
    // Faz a adição de um contato adicional
    var addContact = function(subsidiaryNumber) {
      var
        // Determina a quantidade de contatos nesta unidade/filial
        contactNumber = subsidiariesDetails[ subsidiaryNumber ].contactsCount
      ;

      // Como temos um contato adicional, garantimos que a respectiva
      // informação de aviso de que não temos contatos esteja oculta
      $(".contactList[subsidiary='" + subsidiaryNumber + "']")
        .children('.nocontent')
        .hide()
      ;

      // Adiciona um conjunto de campos para o novo contato
      subsidiariesDetails[ subsidiaryNumber ].contactsCount++;
      $(".contactList[subsidiary='" + subsidiaryNumber + "']")
        .append(TemplateEngine(contactTemplate, {
          subsidiaryNumber: subsidiaryNumber,
          contactNumber: contactNumber
        }))
      ;
      
      $('.ui.selection.dropdown')
        .dropdown()
      ;
      $('.ui.menu .ui.dropdown')
        .dropdown({
          on: 'hover'
        })
      ;
      
      // Mascara o campo de telefone
      $("input[name='subsidiaries[" + subsidiaryNumber + "][contacts][" + contactNumber + "][phonenumber]']")
        .mask({
          type: 'phoneNumber'
        })
      ;
      
      // Coloca em foco o campo inicial do novo contato
      $("input[name='subsidiaries[" + subsidiaryNumber + "][contacts][" + contactNumber + "][name]']")
        .focus()
      ;
    };
    
    // Faz a remoção de um contato
    var delContact = function(element) {
      var
        // Recupera o ID do contato
        contactNumber = parseInt($(element).attr("contactNumber")),
        subsidiaryNumber = parseInt($(element).attr("subsidiaryNumber"))
      ;

      $(element)
        .closest('.mailing.address.grid')
        .remove()
      ;

      var
        count = $(".contactList[subsidiary='" + subsidiaryNumber + "']")
          .children('.mailing.address.grid').length
      ;

      if (count == 0) {
        // Se não tivermos nenhum contato adicional, precisamos exibir a
        // respectiva informação de aviso de que não temos contatos
        // adicionais
        $(".contactList[subsidiary='" + subsidiaryNumber + "']")
          .children('.nocontent')
          .show()
        ;
      }
    };
  </script>
  {% endapply %}
{% endblock scripts %}
